@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --primary: #5e2ea6;
  --gray: #aaaaaa;
  --border: #e0e0e0;
  --darkblack: #151515;
  --typograpy: #4c4c4c;
}

@layer components {
  .navbarIcon {
    @apply w-7 h-7 hover:text-[var(--darkblack)];
  }
  .mobileNavbartextLink {
    @apply text-[1.15rem];
  }
  .mobileNavbarIcon {
    @apply w-5 h-5 hover:text-[var(--darkblack)];
  }

  .navButton {
    @apply w-full flex justify-start cursor-pointer;
  }

  .inputStyle {
    @apply border-2 border-[var(--border)] rounded-[0.5rem] py-[1.45rem] px-[1.25rem] focus:border-[var(--primary)] active:border-[var(--primary)] hover:border-[var(--primary)];
  }
}

body {
  background: var(--background);
  font-family: "Dosis", sans-serif;
}
