@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@import "tailwindcss";

body {
  font-family: var(--font-dosis);
}

@theme {
  --color-primary: #5e2ea6;
  --color-border: #ebebeb;
  --color-priGray: #808080;
  --color-active: #151515;
  --font-dosis: "Dosis", sans-serif;
}

.active {
  color: var(--color-active);
  font-weight: 550;
}
